<ion-header no-border class="navbar--transparent">
    <ion-navbar></ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid class="height100">
        <form class="flex1" [formGroup]="form" (ngSubmit)="emailLogin(email, password)">
            <ion-row style="height:50px;margin-top:30px" align-items-center>
                <ion-col col-12 text-center class="login-title">
                    Login Offline
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item class="default-form-item">
                        <ion-input type="text" [(ngModel)]="email" placeholder="Email" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item class="default-form-item">
                        <ion-input type="password" [(ngModel)]="password" placeholder="Senha" formControlName="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <button type="submit" [disabled]="!form.valid" color="branco" style="height:50px" ion-button block outline round>Entrar</button>
                </ion-col>
            </ion-row>
        </form>
        <div class="cadastrar">
            <p class="cadastrar-texto" (click)="abrirCadastrarUsuario()">Cadastre-se</p>
        </div>
    </ion-grid>
</ion-content>