page-login {
    .scroll-content{
        overflow-y:hidden !important;
    }

    .login-title{
        font-size:2.4rem;
        font-weight:500;
        letter-spacing:2px;
        color:#FFFFFF;
    }
    .cadastrar{ 
        width:100%;
        height:50px;
        color:#FFFFFF; 
        line-height:50px;
        display:flex;
        justify-content:center;
    }
    .cadastrar-texto{
        margin:0 !important;
    }

    .height100{
        min-height: calc(100% - 50px);
        height: calc(100% - 50px);
    }
}