<ion-header no-border class="navbar--transparent">
  <ion-toolbar>
    <ion-buttons start>
        <button ion-button (click)="abrirDropPage()">Fechar</button>
    </ion-buttons>
  <ion-title>Explicação Drop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p margin-bottom class="text-explicacao">
    Para a realização do teste será necessário o uso de um <span style="color: #cc2121; font-weight: bold;">cartão branco</span> para a medição da postura do pé, com o participante
    na postura sentada e em pé.
  </p>
  <img margin-bottom src="assets/imgs/explicacao-drop.PNG" alt="Imagem mostrando uma mão segurando o cartão branco" />
  <ion-grid margin-top>
    <ion-row justify-content-center>
      <ion-col col-3>
        <button ion-button (click)="abrirDropPage()">OK</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
