page-tela-paciente {
    .scroll-content{
        overflow-y: auto !important;
    }
    
    .p{
        display:inline-block;
        margin:0;
    }
    .col{
        padding:3 !important;
    }

    .label-md{
        font-size:1.35rem !important;
    }
    .title-tela{
        font-size:2rem;
        white-space:nowrap;
    }
    .title{
        font-size:2.2rem ;
        width:100%;
        text-align:center;
        white-space:nowrap;
        margin:0;
        padding:0;
        display:inline-block;
        text-align:center; 
    }
    .line{
        top:50%;
        transform:translateY(-50%);
        height:3px;
        width:100%;
        background-color:color($colors, preto);
    }
    .resultados{
        margin-top:30px;
        height:30px;
    }

    .padding8{
        padding: 8px;
    }
    
    
    .flex{
        display:flex;
    }
    .nm-resultado{
        margin-top:5px;
        margin-bottom:2px;
        font-size:1.8rem;
        font-weight: 500;
    }
    .dt-fpi{
        font-size:1.3rem;
        margin-bottom:0;
        padding-top:5px;
    }
    .metodo-text, .pe-text{
        padding-left:6px;
        font-size:1.3rem;
    }
    .hr-fpi{
        font-size:1.2rem;
        margin-top:0;
    }
    .imagem-fpi{
        height: 150px;
    }
    .no-margin-padding{
        margin: 0;
        padding: 0;
    }
    .default-form-item {
        margin: 0;
    }
}
