<ion-header no-border class="navbar--transparent">
  <ion-navbar>
    <ion-buttons end>
        <button ion-button (click)="ativarEditarPaciente()">{{ editarTexto }}</button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="model != null">
    <ion-row>
      <ion-col col-12 style="padding:0 8px">
        <h1 text-center class="title-tela">{{ model.name }}</h1>
      </ion-col>
    </ion-row>
    <form [formGroup]="form">
      <ion-row>
        <ion-col col-12 class="padding-right">
          <ion-item class="default-form-item">
            <ion-label stacked>Nome</ion-label>
            <ion-input type="text" [disabled]="form.controls['name'].disabled" formControlName="name" [(ngModel)]="model.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item class="default-form-item">
            <ion-label stacked>Altura(cm)</ion-label>
            <ion-input type="number" [disabled]="form.controls['height'].disabled" formControlName="height" [(ngModel)]="model.height"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item class="default-form-item">
            <ion-label stacked>Ano de Nascimento</ion-label>
            <ion-input type="number" [disabled]="form.controls['birthYear'].disabled" formControlName="birthYear" [(ngModel)]="model.birthYear"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item class="default-form-item">
            <ion-label stacked>Peso(kg)</ion-label>
            <ion-input type="number" [disabled]="form.controls['weight'].disabled" formControlName="weight" [(ngModel)]="model.weight"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div [hidden]="!isPatientDataExpanded">
        <ion-row>
          <ion-col col-12>
            <ion-item class="default-form-item">
              <ion-label stacked>Sexo</ion-label>
              <ion-select class="input-padrao" formControlName="gender" [(ngModel)]="model.gender">
                <ion-option [value]="genderOption.value" *ngFor="let genderOption of genderOptions">{{ genderOption.value }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-8>
            <ion-label stacked>Pé dominante </ion-label>
          <ion-item class="default-form-item">
            <ion-select class="input-padrao" [(ngModel)]="model.dominantFoot" formControlName="dominantFoot">
              <ion-option [value]="footSide.value" *ngFor="let footSide of footSides">{{ footSide.value }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-8>
            <ion-item class="default-form-item">
                <ion-label stacked>Lesões no pé esquerdo</ion-label>
                <ion-select
                class="input-padao"
                formControlName="leftFootInjuries"
                multiple="true"
                [(ngModel)]="model.leftFootInjuries"
                >
                <ion-option [value]="injurie.value" *ngFor="let injurie of injuries">{{ injurie.value }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-4 align-self-end class="checkbox">
            <div class="flex align-items-center">
              <ion-checkbox
              (ionChange)="onChangeHasLeftFootInjuries(notHasLeftFootInjuries)"
              formControlName="notHasLeftFootInjuries"
              [(ngModel)]="notHasLeftFootInjuries"
                  ></ion-checkbox>
                  <div class="label">Não possuo</div>
                </div> 
              </ion-col>
              <ion-col col-8>
                <ion-item class="default-form-item">
                  <ion-label stacked>Lesões no pé direito</ion-label>
                  <ion-select
                  class="input-padrao"
                  formControlName="rightFootInjuries"
                  multiple="true"
                  [(ngModel)]="model.rightFootInjuries"
                  >
                  <ion-option [value]="injurie.value" *ngFor="let injurie of injuries">{{ injurie.value }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-4 align-self-end class="checkbox">
              <div class="flex align-items-center">
                <ion-checkbox
                (ionChange)="onChangeHasRightFootInjuries(notHasRightFootInjuries)"
                formControlName="notHasRightFootInjuries"
                [(ngModel)]="notHasRightFootInjuries"
                ></ion-checkbox>
                <div class="label">Não possuo</div>
              </div> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item class="default-form-item">
                <ion-label stacked>Esporte</ion-label>
                <ion-select class="input-padrao" formControlName="sport" [(ngModel)]="model.sport">
                    <ion-option [value]="option.value" *ngFor="let option of sports">{{ option.value }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-4 align-self-end class="checkbox">
              <div class="flex align-items-center">
                <ion-checkbox
                  (ionChange)="onChangePraticeSport(doesNotPraticeSport)"
                  formControlName="doesNotPraticeSport"
                  [(ngModel)]="doesNotPraticeSport"
                ></ion-checkbox>
                <div class="label">Não pratico</div>
              </div>
            </ion-col>
            <ion-col col-8 [hidden]="doesNotPraticeSport">
              <ion-item class="default-form-item">
                <ion-label stacked>Tempo de Prática</ion-label>
                <ion-select class="input-padrao" formControlName="sportPraticeTime" [(ngModel)]="model.sportPraticeTime ">
                  <ion-option [value]="option.value" *ngFor="let option of sportPraticeTimeOptions">{{ option.value }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          <ion-col col-8>
            <ion-item class="default-form-item" [hidden]="doesNotPraticeSport">
              <ion-label stacked>Frequência de Prática</ion-label>
              <ion-select class="input-padrao"  formControlName="sportPraticeFrequency" [(ngModel)]="model.sportPraticeFrequency">
                <ion-option [value]="option.value" *ngFor="let option of sportPraticeFrequencyOptions">{{ option.value }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
        <ion-row>
          <ion-col col-6 *ngIf="editarPaciente == false">
            <button ion-button (click)="toggleIsPatientDataExpanded()">{{ perfilTexto }}</button>
          </ion-col>
          <ion-col col-12>
            <button float-right color="azulzao" ion-button *ngIf="editarPaciente" [disabled]="!form.valid" (click)="salvar()">Salvar</button>
          </ion-col>
        </ion-row>
    </form>

    <ion-row class="resultados">
      <ion-col col-3 class="flex">
        <div class="line" style="align-self:center"></div>
      </ion-col>
      <ion-col col-6 class="flex">
        <h1 class="title" style="align-self:center">Resultados</h1>
      </ion-col>
      <ion-col col-3 class="flex">
        <div class="line" style="align-self:center"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button class="paddingh-30" (click)="avaliar(model2.name, userKey, patientId)">Avaliar</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button (click)="ativarEditarTestes()" class="paddingh-30">
          {{ editarTestesText }}
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-card *ngFor="let exam of exams | async; let i = index;" color="primary" (click)="editarTeste(exam)">
          <ion-grid class="no-margin-padding">
            <ion-row class="padding8" padding-bottom>
              <ion-col col-8 class="nm-resultado no-margin-padding">{{ exam['nm_resultado'] || exam['resultado'] }}</ion-col>
              <ion-col col-4 class="dt-fpi no-margin-padding" text-center>{{ (exam['dataDrop2'] || exam['dt_fpi2']) | date: 'dd/MM/yyyy' }}</ion-col>
              <ion-col col-8 class="metodo-text no-margin-padding" >Método: {{ exam['dt_fpi'] ? 'FPI' : 'Drop'  }}</ion-col>
              <ion-col col-4 class="hr-fpi no-margin-padding" text-center>{{ (exam['dataDrop2'] || exam['dt_fpi2']) | date: 'HH:mm' }}</ion-col>
              <ion-col col-8 class="pe-text no-margin-padding" text-capitalize>Pé avaliado: {{ exam['ic_pe'] || exam['pe'] }}</ion-col>
            </ion-row>
            <ion-row class="padding" padding-vertical *ngIf="expandedExamCardIndex === i">
              <ion-col col-6 *ngFor="let media of filterExamImages(exam['medias'])">
                <img [src]="media.downloadURL" class="imagem-fpi">
              </ion-col>
              <ion-col col-12 text-center [hidden]="exam['medias']?.length > 0">
                <span class="text-italic">Não há fotos vinculadas a esse teste.</span>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!editarTestes">
                <button ion-button full color="primary" class="no-margin-padding" (click)="updateExpandedExamCard(i, exam)">
                  <ion-icon ios="ios-more" md="ios-more"></ion-icon>
                </button>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
