<!-- Header -->
<ion-header no-border class="navbar--transparent">
    <ion-navbar>
        <ion-title>Cadastre-se</ion-title>
    </ion-navbar>
</ion-header>
<!-- Fim do Header -->

<ion-content padding>
    <ion-grid>
        <!-- TODO implement error messages-->
        <!-- Formulário -->
        <form [formGroup]="form" (ngSubmit)="registerUser(form, user)">
            <ion-row>
                <!-- Nome -->
                <ion-col col-12>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Nome</ion-label>
                        <ion-input type="text" [(ngModel)]="user.name" formControlName="name"></ion-input>
                    </ion-item>
                </ion-col>

                <!-- Ano de Nascimento -->
                <ion-col col-6>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Ano de Nascimento</ion-label>
                        <ion-input pattern="[0-9]*" type="number" [(ngModel)]="user.birthYear" formControlName="birthYear"></ion-input>
                    </ion-item>
                </ion-col>

                <!-- Profissão -->
                <ion-col col-12>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Profissão</ion-label>
                        <ion-select [(ngModel)]="user.occupation" formControlName="occupation">
                            <ion-option [value]="occupation.key" *ngFor="let occupation of occupationOptions">{{ occupation.value }}</ion-option>
                        </ion-select>
                    </ion-item>
                    <!-- Escolaridade -->
                    <ion-item class="default-form-item">
                        <ion-label stacked>Escolaridade</ion-label>
                        <ion-select [(ngModel)]="user.educcationLevel" formControlName="edducationLevel">
                            <ion-option [value]="educationLevelOption.key" *ngFor="let educationLevelOption of educcationLevelOptions">{{ educationLevelOption.value }}</ion-option>
                        </ion-select>
                    </ion-item>
                    <!-- Login -->
                    <ion-item class="default-form-item">
                        <ion-label stacked>Email</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                    <!-- Senha -->
                    <ion-item class="default-form-item">
                        <ion-label stacked>Senha</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <!-- Confirmar Senha -->
                    <ion-item class="default-form-item">
                        <ion-label stacked>Confirmar Senha</ion-label>
                        <ion-input type="password" formControlName="confirmPassword"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <button type="submit" color="branco" style="height:50px" [disabled]="!form.valid" ion-button
                        block outline round>Cadastrar</button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

</ion-content>