<ion-header no-border class="navbar--transparent">
  <ion-navbar>
    <ion-title>Métodos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <!--card do primeiro método-->
  
  <div class="metodo">
      <div class="metodo__nome">FPI</div>
      <div class="metodo__confiabilidade">Altamente confiável</div>
      <div class="metodo__texto">O F.P.I é um método altamente recomendado para identificar qual o tipo de pisada que uma pessoa possui. Ele é composto
            de 5 medições</div>
      <div class="metodo__botoes">
        <button ion-button color="azul" (click)="abrirMetodoUm('esquerdo')">Pé esquerdo</button>
        <button ion-button color="azul" (click)="abrirMetodoUm('direito')">Pé direito</button>
      </div>
  </div>

  <div class="metodo drop">
      <div class="metodo__nome drop">Drop Navicular</div>
      <div class="metodo__confiabilidade">Confiável</div>
      <div class="metodo__texto">O drop navicular é um teste simples, com 2 medições. Nele, a identificação do tipo de pisada é dada através da diferença da altura do osso navicular.</div>
      <div class="metodo__botoes">
        <button ion-button color="azulzao" (click)="abrirMetodoDois('esquerdo')">Pé esquerdo</button>
        <button ion-button color="azulzao" (click)="abrirMetodoDois('direito')">Pé direito</button>
      </div>
  </div>
</ion-content>
  