page-metodos-testes{
    .metodo {
        display: grid;
        grid-row-gap: 5px;
        margin: 20px 0;

        &.drop {
            margin: 30px 0 15px 0;
        }
        &__nome {
            background-color: map-get($colors, azul);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            padding: 8px 0;
            font-size: 1.2em;
            font-weight: 500;
            
            &.drop {
                background-color: map-get($colors, azulzao);
            }
        }

        &__confiabilidade {
            text-align: right;
            font-style: italic;
            font-size: 0.8em;
        }

        &__texto {
            padding: 0 8px;
            text-align: justify;
        }

        &__botoes {
            display: flex;
            justify-content: space-between;

            button {
                font-weight: 500;
                color: map-get($colors, branco);
            }
        }

    }
    .card{
        position:relative;
        border:1px solid #222;   
        padding:0 !important;
        width:calc(100% - 20px) !important;
    }
    .card-md,.card-ios{
        margin:0 !important;
    }
    .confiavel{
        display:block;
        width:100%;
        height:15px;
        text-align:right;
        font-size:0.9rem;
        font-style:italic;
        padding-top:4px;
        padding-right:8px;
    }
    .card-header{
        width:100%;
        height:40px;
    }
    .card-header-img{
        position:absolute;
        display:inline-block;
        width:35px;
        height:35px;
        margin:5px 5px 0 10px;
    }
    .card-header-img2{
        display:inline-block;
        width:45px;
        height:40px;
        margin:5px 0 0 10px;
    }
    .card-header-text{
        position:absolute;
        display:inline-block;
        left:50%;
        transform:translateX(-50%);
        line-height:40px;
        height:40px;
        font-size:2rem;
        white-space: nowrap;
    }

    .card-content{
        padding:7px 4px 7px 7px;
        color:#dfd7d7 !important;
        text-align:justify;
        margin:5px;
    }

    .opcoes-pe{
        display:flex;
        height:45px;
        min-height:45px;
        margin:0 !important;
        padding:0 !important;
    }

    .btn-pe1,.btn-pe2{
        margin:0 !important;
        border:1px solid #222;
        box-sizing:border-box;
        padding:1px;
        color:#F1F1F1;
        position:relative;
        flex:1;           
    }
    .btn-pe1{
        grid-column:1/1 !important;        
    }
    .btn-pe2{
        grid-column:2/2 !important;
    }

    .pe{
        position:absolute;
        display:block;
        top:5%;
        left:50%;
        transform: translateX(-50%);
        font-size:0.7em;
        font-style:italic;
        margin:0 !important;
    }
    
    .texto-pe{
        margin:0;
        font-size:1.3em;
    }
}