<ion-header>
  <ion-toolbar>
    <ion-buttons start>
        <button ion-button (click)="closeModal()">Fechar</button>
    </ion-buttons>
  <ion-title>Explicação</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h4 text-center>{{help.nome}}</h4>
  <p>{{help.texto}}</p>
  <ion-slides class="slides" effect="fade" class="swiper-no-swiping">
    <ion-slide *ngFor="let imgSrc of help.imgSrcs" class="slide" [ngStyle]="{'background-image': 'url(' + imgSrc +')'}">
    </ion-slide>
  </ion-slides>
  <!-- Add Pagination -->
  <div *ngIf="i > 0"
      class="swiper-button-prev swiper-button-black"
      (click)="previousSlide()"></div>
 <div *ngIf="i < 4"
      class="swiper-button-next swiper-button-black"
      (click)="nextSlide()"></div>
  <div class="slide-legend" text-center>{{imageText[i]}}</div>
</ion-content>
