page-fpi-help {
    
    .slides{
        max-height: 300px;
    }

    .slide{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .slide-legend{
        margin-top: 8px;
        width: 100%;
        background: #FFFFFF30;
        padding: 8px 0;
    }

    .swiper-slide{
        visibility: hidden;
    }

    .swiper-slide-active{
        visibility: visible;
    }
}
