<ion-header no-border class="navbar--transparent">
    <ion-navbar>
        <ion-title>Dados do Paciente</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid *ngIf="avaliarOutro == null">
        <form [formGroup]="form" (ngSubmit)="cadastrarPaciente()">
            <ion-row>
                <ion-col col-12>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Nome</ion-label>
                        <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col class="padding-right" col-6>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Altura(cm)</ion-label>
                        <ion-input type="number" pattern="[0-9]*" formControlName="height"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Ano de nascimento</ion-label>
                        <ion-input type="number" pattern="[0-9]*" formControlName="birthYear"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Peso</ion-label>
                        <ion-input type="number" pattern="[0-9]*" formControlName="weight"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Sexo</ion-label>
                        <ion-select formControlName="gender">
                            <ion-option [value]="genderOption.value" *ngFor="let genderOption of genderOptions">{{ genderOption.value }}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-8>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Pé dominante</ion-label>
                        <ion-select formControlName="dominantFoot">
                            <ion-option [value]="footSide.value" *ngFor="let footSide of footSides">{{ footSide.value }}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-8>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Lesões no pé esquerdo</ion-label>
                        <ion-select #leftSelect formControlName="leftFootInjuries"
                            multiple="true" cancelText="Cancelar" okText="Ok">
                            <ion-option [value]="injurie.value" *ngFor="let injurie of injuries">{{ injurie.value }}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-4 align-self-end class="checkbox">
                    <div class="flex align-items-center">
                        <ion-checkbox (ionChange)="onChangeHasLeftFootInjuries(!hasLeftFootInjuries)" [checked]="!hasLeftFootInjuries"></ion-checkbox>
                        <div class="label">Não possuo</div>
                     </div> 
                    </ion-col>
                <ion-col col-8>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Lesões no pé direito</ion-label>
                        <ion-select #rightSelect formControlName="rightFootInjuries" multiple="true"
                            cancelText="Cancelar" okText="Ok">
                            <ion-option [value]="injurie.value" *ngFor="let injurie of injuries">{{ injurie.value }}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-4 align-self-end class="checkbox">
                    <div class="flex align-items-center">
                        <ion-checkbox (ionChange)="onChangeHasRightFootInjuries(!hasRightFootInjuries)" [checked]="!hasRightFootInjuries"></ion-checkbox>
                        <div class="label">Não possuo</div>
                    </div> 
                </ion-col>
                <ion-col col-8 align-self-end no-padding>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Qual esporte pratica?</ion-label>
                        <ion-select formControlName="sport" [(ngModel)]="patient.sport">
                            <ion-option [value]="sport.value" *ngFor="let sport of sports">{{ sport.value }}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-4 align-self-end class="checkbox">
                    <div class="flex align-items-center">
                        <ion-checkbox (ionChange)="onChangePraticeSport(!doesPraticeSport)" [checked]="!doesPraticeSport"></ion-checkbox>
                        <div class="label">Não praticante</div>
                    </div> 
                </ion-col>
            </ion-row>
            <ion-row *ngIf="doesPraticeSport && patient.sport != null">
                <ion-col col-8>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Há quanto tempo?</ion-label>
                        <ion-select formControlName="sportPraticeTime">
                            <ion-option [value]="option.value" *ngFor="let option of sportPraticeTimeOptions">{{ option.value }}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-8>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Frequência</ion-label>
                        <ion-select formControlName="sportPraticeFrequency">
                            <ion-option [value]="option.value" *ngFor="let option of sportPraticeFrequencyOptions">{{ option.value }}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <button ion-button type="submit" margin-top color="azulzao" [disabled]="!form.valid">Concluir</button>
        </form>
    </ion-grid>
</ion-content>