<ion-header no-border class="navbar--transparent">
  <ion-navbar hideBackButton="true">
    <ion-buttons end>
      <button ion-button (click)="mostrarSub($event)">
        <ion-icon name="settings" color="branco"></ion-icon>  
      </button> 
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="row-title" align-items-center justify-content-center>
      <img class="home-card-img" src="assets/imgs/logo-recortado-transparente.png"/>
      <h1>KnowFoot</h1>
    </ion-row>
    <ion-row class="row-buttons" >
      <button class="button" ion-button full (click)="abrirMetodosTestesPage()">Testes</button>
      <button class="button" ion-button full (click)="abrirGerenciarPacientesPage()">Gerenciar Pacientes</button>
      <button class="button" ion-button full (click)="abrirMetodosTutoriaisPage()">Tutoriais</button>
    </ion-row>
  </ion-grid>
</ion-content>  