/* To resize fonts:
1vw = 1% of viewport width
1vh = 1% of viewport height
1vmin = 1vw or 1vh, whichever is smaller
1vmax = 1vw or 1vh, whichever is larger
 */

page-home{
    .scroll-content{
        overflow-y:hidden !important;
    }
    ion-grid{
        height:100%;
    }

    .row-title{
        height:50%;
    }

    h1{
    font-size: 10.0vw;
    white-space:nowrap;     //prevents the text from wrapping
        }

    .button{
        height:45px;
        margin-bottom:5%;
    }
    
    .home-card-img{
        float: left;
    width:100px;
    height:100px;
    }
}