<ion-header no-border class="navbar--transparent">
    <ion-navbar>
        <ion-title>Gerenciar Pacientes</ion-title>
    </ion-navbar>
</ion-header>



<ion-content padding>
    <h2 margin-bottom text-center >Lista de Pacientes</h2>
    <p style="font-style: italic" *ngIf="patients && patients.length == 0">Nenhum paciente foi cadastrado ainda...</p>
    <div class="container-pacientes">
        <div class="item-paciente" tappable text-center *ngFor="let patient of patients" (press)="confirmDeletePatient(patient.id, patient.name)" (tap)="openPatientDetailsPage(authProvider.currentUserUid, patient.id)">
            <span *ngIf="!patient.isDeleted" >
                {{ patient.name }}
            </span>
        </div>
    </div>
</ion-content>