page-gerenciar-pacientes {

    .scroll-pacientes {
        height: calc(100% - 50px);
    }

    .container-pacientes {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        height: 100%;
        padding-top: 30px;

        .item-paciente {
            width: 100%;
            text-align: center;
            padding: 10px;
            background-color: map-get($colors, primary);
            border-radius: 5px;
            margin-bottom: 15px;

            &:focus, 
            &:active {
                background-color: rgba(2555,255,255, 0.3);
            }
        }
        
    }

    p {
        font-style: italic;
        color: #cecece;
    }
}