<ion-header no-border class="navbar--transparent">
  <ion-navbar>
    <ion-title text-uppercase>F.P.I - Pé {{ pe }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="abrirTutorialFpiPage()">
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
      <span text-center class="title-parecida">{{ textEscolha }}</span>
      <ion-row nowrap justify-content-end margin-bottom>
        <span class="text-observar" (click)="toggleObservar()">{{ textObservar }}</span>
      </ion-row>
      <ion-row>
          <ion-col col-4 *ngFor="let image of images; let i = index">
            <img (click)="clickouImagem(i)" [class.imagem-observar]="observar" class="imgs-parecidas" [class.img-selecionada] = "i == indexselecionada" [src]="imgp[i]">
          </ion-col>
      </ion-row>
    <ion-row *ngIf="!foto" margin-top>
        <ion-col col-4 offset-4>
          <button ion-button icon-only full (click)="takePictureAndAttach()">
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-col>
    </ion-row>
    <ion-row justify-content-center *ngIf="foto">
      <ion-col col-10 class="flex justify-content-center">
        <div class="camera-picture__wrapper">
          <img [src]="resolveImageURL(imageFilesURIs[pagina - 1])" class="camera-picture"/>
          <ion-icon name="trash" class="camera-picture__delete-icon" (click)="deleteImage(imageFilesURIs[pagina -1])" ></ion-icon>
        </div>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid style="padding:0">
      <ion-row align-items-center justify-content-center>
        <ion-col col-4 style="padding:0">
          <button [class.invisivel]="pagina == 1" style="margin:0;height:50px" ion-button full (click)="anterior(pagina)">
            <ion-icon style="margin-right:5px" md="md-arrow-dropleft" ios="md-arrow-dropleft"></ion-icon>
            Anterior
          </button>
        </ion-col>
        <ion-col col-4 style="padding:0">
          <ion-row justify-content-center>
            <div class="marcador" *ngFor="let marcador of marcadores" [class.marcador-selecionado]="marcador == this.pagina"></div>
          </ion-row>
        </ion-col>
        <ion-col col-4 style="padding:0">
          <button  style="margin:0;height:50px" ion-button full [class.invisivel]="pagina==5" (click)="proxima()">
            Próximo<ion-icon style="margin-left:5px" md="md-arrow-dropright" ios="md-arrow-dropright"></ion-icon>
          </button>
          <button ion-button full style="margin:0;height:50px" [class.invisivel]="pagina != 5" (click)="finalizar()">
            Finalizar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
