page-fpi{
    .scroll-content{
        overflow-y:hidden !important;
    }
    
    .title-parecida{
        font-size:2rem;
    }
    .text-diferenca, .text-observar{
        font-size: 1.3rem;
        font-style: italic;
        color: color($colors, branco);
        cursor: pointer;
    }

    .imagem-observar{
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.33);
    }
    
    .title-parecida, .text-diferenca, .text-observar{
        margin-top:5px;
        margin-bottom: 5px; 
    }

    .imgs-parecidas{
       height:85px;
    }

    .last-row{
        position:absolute;
        bottom:0;
        margin:5px;
        width:100%;
    }
    
    .img-selecionada{
        background-color:rgba(214, 208, 208, 0.3);
        border:2px solid transparent;
    }
    .invisivel{
        display:none;
    }

    .camera-picture {
        max-width: 150px;

        &__wrapper {
            position: relative;
            max-width: 150px; 
        }

        &__delete-icon {
            position: absolute;
            color: #FFFFFF;
            right: 3%;
            bottom: 5%;
            font-size: 22px;

            &:active {
                transform: translateY(1px);
            }
        }
    }

    .marcador{
        width:15px;
        height:5px;
        margin-right:1px;
        display:inline-block;
        background-color:#706f6f;
    }

    .marcador:last-child{
        margin-right:0;
    }

    .marcador-selecionado{
     background-color:#474747;
    }
  

}
