// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:rgba(255,255,255,0.2),
  verde:#20c565,
  azul-petroleo:#1A4C6D,
  azul:rgba(71,192,220,0.85),
  azulzao: rgba(20,89,144,0.85),
  rosa:#FC575E,
  light:rgba(255, 255, 255, 0.1),
  dark:#222,
  cinza:#E6E6E6,
  cinzinha:#4b4e4e,
  cinzao: #252932,
  branco: #FFFFFF,
  preto: #000000,
  verde-escuro:#3CA55C,
  pretinho: #272727,
  perigo: #dc3545
);

$branco: map-get($colors, branco);

// App iOS Variables
$alert-ios-button-text-color: map-get($colors, dark);
$popover-ios-width: 60%;
$toolbar-ios-title-font-size: 1.7rem;
$toolbar-ios-text-color: $branco;
$toolbar-ios-title-text-color: $branco;
$toolbar-ios-button-color: $branco;
$button-ios-text-color: $branco;
// iOS only Sass variables can go here

$toolbar-text-color: $branco;
$text-color: $branco;

// App Material Design Variables
$alert-md-button-text-color: map-get($colors, dark);
$label-md-text-color: $branco;
$button-md-text-color: $branco;
$toolbar-md-button-color: $branco;
$toolbar-md-title-text-color: $branco;
$toolbar-md-text-color: $branco;
$popover-md-width:60%;
$toolbar-md-title-font-size: 1.7rem;
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
$text-input-highlight-color-valid: #FFFFFF;
$text-input-placeholder-color: #FFFFFF;
$text-input-md-background-color: #FFFFFF;
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
