<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h5>{{text}}</h5>
</ion-content>
<ion-footer>
  <button ion-button full (click)="closeModal()">
  Entendi
  </button>
</ion-footer>