page-popup-hint {
    button{
        margin: 0 !important;
    }
}

// @media not all and (min-height: 600px) and (min-width: 768px)
// {
//     ion-modal ion-backdrop{
//         visibility: visible !important;
//     }
// }

// @media only screen and (max-height: 600px) and (max-width: 768px)
// {
//     .modal-wrapper{
//         position: absolute;
//         left: 50% !important;
//         top: 50% !important;
//         transform: translate(-50%, -50%)!important;
//         width: 80vw !important;
//         height: 60vh !important;
//     }
// }
// ion-modal.inset-modal {
//     // transparent black background overlay
//     background-color: rgba(0, 0, 0, .5) !important;
//     transition: opacity .25s ease-in-out;
//   }
