// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.navbar--transparent .toolbar .toolbar-background{
    background-color: transparent;
}

ion-content.content { 
    background-size: cover;
    background-image: url('../assets/imgs/background.jpg');
    background-repeat: no-repeat;
}

.paddingh-30{
    padding: 0 30px;
}
.flex1{
    flex: 1;
}
.marginY{
    margin: auto 0;
}
.cinza{
    background:color($colors,cinza);
}
.cinzao{
    background-color:color($colors,cinzao);
}
.cinzinha{
    background-color:color($colors, cinzinha);
}
.preto{
    background-color:color($colors, preto);
}
.verde-escuro{
    background-color:color($colors, verde-escuro);
}
.no-background{
    background:none;
}
.no-box-shadow{
    box-shadow: none;
}

.explicacao ion-card-content {
    background-color: map-get($colors, primary);
}

.default-form-item {
    background: none;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.2em;
    padding: 0;

    &.item-input-disabled ion-label {
        opacity: .4;
    }

    .item-inner {
        border-bottom: 0 !important;
        box-shadow: none !important;

        ::-webkit-input-placeholder {
            color: white;
        }

        ion-input, ion-select, ion-datetime {
            background-color:  map-get($colors, primary);
            padding-left: 10px;
        }

        ion-datetime .datetime-text {
            color: #FFFFFF;
        }

        .select-ios, .select-md{
            width: calc(100% - 8px);
            max-width: calc(100% - 8px);
        }

        .select-ios, .select-md, .select-placeholder, .select-icon, .select-icon-inner{
            color: white ;
        }
    }

}

.no-margin{
    margin:0;
}

.width-100 {
    width: 100%;
}


.no-margin-padding{
    margin:0;
    padding:0;
}

.no-scroll{
    overflow-y:hidden !important;
}

.list-md{
    margin:0 !important;
}

ion-alert {

    &.alert-title-warning .alert-title {
        color: map-get($colors, perigo);
    }
    
    .alert-button.btn-warning {
        color: map-get($colors, perigo);
    }
}

.checkbox {
    font-size: 1.1rem;

    .label {
        padding-left: .5rem;
    }
}

.flex {
    display: flex;

    &.align-items-center {
        align-items: center;
    }

    &.justify-content-center {
        justify-content: center;
    }
}

.text-italic {
    font-style: italic;
}