<!--
  Generated template for the TutorialFpiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Tutorial F.P.I</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h4>Como fazer ?</h4>
  <p text-justify class="tutorial-text">
    Para a realização do teste Foot Posture Index, o pé do paciente é avaliado em 5 medições, sendo elas uma diferente da outra.
    Em cada item, o avaliador escolhe a figura mais parecida com o pé do paciente naquele item.
  </p>
  <h4>E as figuras ?</h4>
  <p text-justify class="tutorial-text">
    Em cada figura de cada medição, é destacado em vermelho a nuança apresentada naquela figura. O avaliador também pode clicar
    em "o que observar" e selecionar uma figura, para receber uma explicação de qual a diferença daquela figura para com as
    outras apresentadas.
  </p>
  <h4>Como observar o pé ?</h4>
  <p text-justify class="tutorial-text">
    Nos três primeiros items, o ângulo em que o pé será visto é o mesmo, sendo ele o de trás do pé, ou seja o calcanhar é vizualizado
    primeiro. Nos dois items seguintes, o pé é visto de lado, ou seja, a parte de dentro do pé é vizualizada primeiro.
  </p>
  <h4>Pra que servem as fotos ?</h4>
  <p text-justify class="tutorial-text">
    As fotos que o avaliador pode tirar são totalmente opcionais, não sendo necessárias, porém, recomendadas, já que com elas
    o avaliador consegue vizualizar o pé do paciente de uma maneira estática e de um mesmo ângulo, além de posteriormente vizualizar
    melhor o teste. Durante a realização da avaliação, o paciente deve permanecer em pé, parado. É importante garantir que
    o participante não se mova para tentar olhar o teste, podendo influenciar no resultado.
  </p>
</ion-content>
