<ion-header>
  <ion-navbar>
    <ion-title>Dicionario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>A</h4>
  <p text-justify class="tutorial-text">
    <b>Abdução:</b> Quando o segmento afasta-se lateralmente à partir linha mediana corpo.
  </p>
  <p text-justify class="tutorial-text">
    <b>Adução:</b> Quando o segmento aproxima-se da linha mediana do corpo.
  </p>
  <p text-justify class="tutorial-text">
    <b>Antepé:</b> O pé é dividido em três partes. O antepé refere-se a parte anterior.
  </p>
  <p text-justify class="tutorial-text">
    <b>Arco longitudinal medial (ALM):</b> O ALM localiza-se entre a parte anterior e posterior do pé. É formado por
    ossos, fáscia plantar e musculatura
    intrínseca. Sua deformação durante o caminhar ou corrida promove acumulo e dissipação de energia elástica,
    auxiliando
    no deslocamento.
  </p>
  <p text-justify class="tutorial-text">
    <b></b>
  </p>
  <h4>C</h4>
  <p text-justify class="tutorial-text">
    <b>Calcâneo:</b> Osso do calcanhar.
  </p>
  <h4>D</h4>
  <p text-justify class="tutorial-text">
    <b>Drop Navicular:</b> É a distância do osso navicular até o solo.
  </p>
  <h4>E</h4>
  <p text-justify class="tutorial-text">
    <b>Entorse de tornozelo:</b> Lesão em ligamento do tornozelo causado por movimento além do fisiológico. A lesão
    pode ocorrer nos ligamentos laterais ou mediais do tornozelo, dependendo do mecanismo de lesão.
  </p>
  <h4>F</h4>
  <p text-justify class="tutorial-text">
    <b>Fasciíte plantar:</b> Processo inflamatório degenerativo crônico da fáscia plantar.
  </p>
  <h4>M</h4>
  <p text-justify class="tutorial-text">
    <b>Médio pé:</b> O pé é divido em três partes. O médiopé localiza-se entre a parte anterior e posterior do pé.
  </p>
  <p text-justify class="tutorial-text">
    <b>Maléolo lateral:</b> Proeminência distal do osso da fíbula, localizada na parte lateral do tornozelo.
  </p>
  <p text-justify class="tutorial-text">
    <b>Maléolo medial:</b> Proeminência óssea distal do osso da tíbia, localizada na parte medial do tornozelo.
  </p>
  <p text-justify class="tutorial-text">
    <b>Metatarsalgia:</b> Dor sob a cabeça dos metatarsos, causada por sobrecarga na parte anterior dos pé.
  </p>
  <p text-justify class="tutorial-text">
    <b>Metatarsos:</b> São os cinco ossos longos localizados na região anterior do pé.
  </p>
  <h4>R</h4>
  <p text-justify class="tutorial-text">
    <b>Retropé:</b> O pé é divido em três partes. O retropé localiza-se na parte posterior do pé.
  </p>
</ion-content>