<ion-header no-border class="navbar--transparent">
    <ion-navbar>
        <ion-title>Drop - Pé {{pe}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid>
        <!-- Título -->
        <ion-row>
            <ion-col col-12 text-center>
                <h1>Posição em Pé</h1>
            </ion-col>
        </ion-row>
        <!-- Fim do Titulo -->

        <!-- Formulário com 1 input só -->
        <form [formGroup]="form" (ngSubmit)="finalizarDrop()">
            <ion-row>
                <ion-col col-12>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Medida em pé(mm)</ion-label>
                        <ion-input type="number" [(ngModel)]="medidaEmPe"  formControlName="medidaEmPe"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-4 offset-4>
                    <button ion-button [disabled]="!form.valid">Finalizar</button>
                </ion-col>
            </ion-row>
        </form>
        <!-- Fim do Formulário -->

        <!-- Card de Explicação -->
        <ion-card class="explicacao" color="primary" [class.no-box-shadow]="!explicacao">
            <button ion-button color="azul" full block no-margin icon-end (click)="mostrarExplicacao()">
                Explicação
                <ion-icon name="{{iconName}}"></ion-icon>
            </button>
            <ion-card-content color="primary" *ngIf="explicacao">
                <p>
                    O participante será orientado a posicionar-se na postura em pé, com o pé avaliado inteiramente apoiado no solo, enquanto
                    o outro pé estará atrás, com a parte anterior em contato com o solo. Caso necessite poderá segurar com
                    uma das mãos na parede.
                </p>
                <p>
                    Novamente, o examinador medirá a distância da marca do tubérculo navicular ao chão.
                </p>
            </ion-card-content>
        </ion-card>
        <!-- Fim do Card de Explicação -->
    </ion-grid>
</ion-content>