<ion-header no-border class="navbar-transparent">
  <ion-navbar>
    <ion-title>Métodos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <h3 margin-vertical text-center style="width: 100%">Tutoriais</h3>
  <!--card do primeiro método-->
  <ion-card class="card" color="cinzinha" (click)="abrirTutorialFpiPage()">
    <div class="card-header">
      <img class="card-header-img" src="assets/imgs/foot-pronation.png" />
      <h1 class="card-header-text">Foot Posture Index</h1>
    </div>
    <ion-card-content class="card-content">
      <p>O F.P.I é um método onde observa-se o pé do paciente em 5 posições diferentes. O resultado final é a média dos resultados
        em cada posição.</p>
    </ion-card-content>
  </ion-card>
  

  <!--card do segundo método-->
  <ion-card class="card" color="cinzinha"  (click)="abrirTutorialDropPage()">
    <div class="card-header">
      <img class="card-header-img2" src="assets/imgs/foot-ruler.png" />
      <h1 class="card-header-text">Drop Navicular</h1>
    </div>
    <ion-card-content class="card-content">
      <p>
        O drop navicular é um metodo onde mede-se a altura do drop navicular com o paciente sentado e em pé. A diferença indica o
        resultado.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
  