<ion-header no-border class="navbar--transparent">
    <ion-navbar>
        <ion-title>Drop - Pé {{pe}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid>
        <!-- Título -->
        <ion-row>
            <ion-col col-12 text-center>
                <h1>Posição sentada</h1>
            </ion-col>
        </ion-row>
        <!-- Fim do Titulo -->

        <!-- Formulário com 1 input só -->
        <form [formGroup]="form" (ngSubmit)="proximaPosicao()">
            <ion-row>
                <ion-col col-12>
                    <ion-item class="default-form-item">
                        <ion-label stacked>Medida sentada(mm)</ion-label>
                        <ion-input type="number" [(ngModel)]="medidaSentada" formControlName="medidaSentada"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-4 offset-4>
                    <button ion-button color="azul" [disabled]="!form.valid">Próximo</button>
                </ion-col>
            </ion-row>
        </form>
        <!-- Fim do Formulário -->

        <!-- Card de Explicação -->
        <ion-card color="primary" [class.no-box-shadow]="!explicacao">
            <button ion-button full color="azul" no-margin block icon-end (click)="mostrarExplicacao()">
                Explicação
                <ion-icon name="{{iconName}}"></ion-icon>
            </button>
            <ion-card-content *ngIf="explicacao">
                <p>
                    Inicialmente, orienta-se o participante a sentar-se em uma cadeira e permanecer com os joelhos e tornozelos flexionados a
                    90° e pés apoiados no solo.
                </p>
                <p>
                    O avaliador palpará e marcará com uma caneta a tuberosidade do navicular (vide manual para encontrar corretamente esta região).
                </p>
                <p>
                    Com uma régua rígida será medido a distância entre o chão e a marca do navicular.
                </p>
            </ion-card-content>
        </ion-card>
        <!-- Fim do Card de Explicação -->
    </ion-grid>
</ion-content>