<ion-list class="ion-list">
    <button ion-item style="font-size:1.4rem" color="primary" (click)="abrirDicionario()">Dicionário de Termos</button>
    <button class="ultimo-button" ion-item style="font-size:1.4rem" color="primary" (click)="sair()">Sair</button>
</ion-list>