<!--
  Generated template for the TutorialDropPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Tutorial Drop</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Como fazer ?</h4>
  <p text-justify class="tutorial-text">
    Para a realização do teste será necessário o uso de um cartão branco para a medição da postura do pé, com o
    participante na postura sentada e em pé.
  </p>

  <h4>Posição Sentada</h4>
  <p text-justify class="tutorial-text">
    Inicialmente, orienta-se o participante a sentar-se em uma cadeira e permanecer com os joelhos e tornozelos
    flexionados
    a 90° e pés apoiados no solo
  </p>
  <p>
    O avaliador palpará e marcará com uma caneta a tuberosidade do navicular (vide manual para encontrar corretamente
    esta
    região)
  </p>
  <p>
    Com uma régua rígida será medido a distância entre o chão e a marca do navicular
  </p>

  <h4>Posição Sentada</h4>
  <p text-justify class="tutorial-text">
    Na sequência, o participante será orientado a posicionar-se na postura em pé, com o pé avaliado inteiramente
    apoiado no
    solo, enquanto o outro pé estará atrás, com a parte anterior em contato com o solo. Caso necessite poderá segurar
    com
    uma das mãos na parede.
  </p>
  <p>Novamente o examinador medirá a distância da marca do tubérculo navicular ao chão.</p>
</ion-content>